<% if @user %>
<div class="container">
    <h1>Welcome, <%= @user.username if @user%>  </h1><br>
    <h2>Here are your tasks:</h2><br>
    <%= link_to "Give yourself a new task!", new_user_task_path(@user) %>
    <br><br>
</div>
<% end  %>


    <%= render 'tasklist', :locals => {:@tasks => @tasks} %>



<br><br>



<h2>Completed Tasks</h2>

<%= render 'completed', :locals => {:@tasks => @tasks} %>
