<div style=" width: 180px; margin: 0 auto; margin-top: 50px;">
<h2>Welcome</h2>
</div>

<div style=" width: 200px; margin: 0 auto; margin-top: 50px;">
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
</div>
